figure {
    text-align: center;
    margin-bottom: 2.5rem;
    max-width: 100%; 
    max-height: 1000px;
    overflow: hidden;
    }

figure img {
    width: auto; 
    height: auto;
}
figure figcaption{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-top: 0.5rem;
}
h1 {
    font-family: Arial 'Helvetica', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.2;
    letter-spacing: 1px;
}
ul {
    list-style-type: none;
    margin: 0;
    max-width: 400px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

li {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;

}
.centerDiv
{
    justify-content: center;
    display: flex;
    margin: 0;
}
.iconDiv
{
    justify-content: center;
    gap:100px;
    display: flex;
    font-size: 50px;
}
.icon{
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.icon:hover{
    color: #555555;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}